.project
.sublimelinterrc
.externalToolBuilders
.gnupg
.settings
.includepath
.DS_Store
*.swp
*.swo
*~
.profile
.vstags
.vscode

# Znuny
.procmailrc
/ARCHIVE
Kernel/Config/Backups/
Kernel/Config/Files/ZZZ*.pm
Kernel/Config/Files/User/*
Kernel/Config/GenericAgent.pm
Kernel/Config.pm
Kernel/Language/*.old
bin/cgi-bin/.htaccess
scripts/apache2-perl-startup2.pl
var/virtualfs
var/run
var/log/*.log
var/log/Daemon/*.log
var/OPM
var/Stats
var/tmp/*
var/httpd/htdocs/SeleniumScreenshots/
var/httpd/htdocs/js/thirdparty/jslint
var/httpd/htdocs/js/js-cache
var/httpd/htdocs/skins/*/*/css-cache
var/sessions/Data*
var/sessions/State*
var/article/*
var/cron/*
!var/cron/*.dist
.cache
.ssh
.viminfo
.bash*

# Fred
Fred.sopm
CHANGES-Fred
doc/en/Fred.xml
doc/en/Fred.pdf
Kernel/Output/HTML/FilterContent/Fred.pm
Kernel/Output/HTML/Fred/*
Kernel/Output/HTML/Templates/Standard/DevelFred*
Kernel/Config/Files/AAAFred.pm
Kernel/Config/Files/Fred.xml
Kernel/Config/Files/XML/Fred.xml
Kernel/Modules/DevelFred.pm
Kernel/System/Fred
var/fred
var/httpd/htdocs/js/*Fred*js
var/httpd/htdocs/skins/Agent/default/css/*Fred*css
var/httpd/htdocs/skins/Customer/default/css/*Fred*css

# NYTProf
nytprof*.out

# ITSM
var/stats/*.xml.installed

# todo delete me
# GUI-Redesign
.mysql_history
Kernel/Config/Files/XML/FAQ.xml
Kernel/GenericInterface/Operation/FAQ/
Kernel/Language/da_FAQ.pm
Kernel/Language/de_FAQ.pm
Kernel/Language/en_GB_FAQ.pm
Kernel/Language/es_FAQ.pm
Kernel/Language/es_MX_FAQ.pm
Kernel/Language/fa_FAQ.pm
Kernel/Language/fi_FAQ.pm
Kernel/Language/fr_FAQ.pm
Kernel/Language/hu_FAQ.pm
Kernel/Language/id_FAQ.pm
Kernel/Language/it_FAQ.pm
Kernel/Language/ja_FAQ.pm
Kernel/Language/ms_FAQ.pm
Kernel/Language/nb_NO_FAQ.pm
Kernel/Language/nl_FAQ.pm
Kernel/Language/pl_FAQ.pm
Kernel/Language/pt_BR_FAQ.pm
Kernel/Language/pt_FAQ.pm
Kernel/Language/ru_FAQ.pm
Kernel/Language/sr_Cyrl_FAQ.pm
Kernel/Language/sr_Latn_FAQ.pm
Kernel/Language/sv_FAQ.pm
Kernel/Language/sw_FAQ.pm
Kernel/Language/th_TH_FAQ.pm
Kernel/Language/uk_FAQ.pm
Kernel/Language/zh_CN_FAQ.pm
Kernel/Language/zh_TW_FAQ.pm
Kernel/Modules/AgentFAQAdd.pm
Kernel/Modules/AgentFAQCategory.pm
Kernel/Modules/AgentFAQDelete.pm
Kernel/Modules/AgentFAQEdit.pm
Kernel/Modules/AgentFAQExplorer.pm
Kernel/Modules/AgentFAQHistory.pm
Kernel/Modules/AgentFAQJournal.pm
Kernel/Modules/AgentFAQLanguage.pm
Kernel/Modules/AgentFAQPrint.pm
Kernel/Modules/AgentFAQRelatedArticles.pm
Kernel/Modules/AgentFAQRichText.pm
Kernel/Modules/AgentFAQSearch.pm
Kernel/Modules/AgentFAQSearchSmall.pm
Kernel/Modules/AgentFAQZoom.pm
Kernel/Modules/CustomerFAQExplorer.pm
Kernel/Modules/CustomerFAQPrint.pm
Kernel/Modules/CustomerFAQRelatedArticles.pm
Kernel/Modules/CustomerFAQSearch.pm
Kernel/Modules/CustomerFAQZoom.pm
Kernel/Modules/PublicFAQ.pm
Kernel/Modules/PublicFAQExplorer.pm
Kernel/Modules/PublicFAQPrint.pm
Kernel/Modules/PublicFAQRSS.pm
Kernel/Modules/PublicFAQSearch.pm
Kernel/Modules/PublicFAQZoom.pm
Kernel/Output/HTML/Dashboard/FAQ.pm
Kernel/Output/HTML/FAQJournalOverview/
Kernel/Output/HTML/FAQMenu/
Kernel/Output/HTML/FAQOverview/
Kernel/Output/HTML/FilterElementPost/
Kernel/Output/HTML/HeaderMeta/AgentFAQSearch.pm
Kernel/Output/HTML/HeaderMeta/CustomerFAQSearch.pm
Kernel/Output/HTML/HeaderMeta/PublicFAQSearch.pm
Kernel/Output/HTML/Layout/FAQ.pm
Kernel/Output/HTML/LinkObject/FAQ.pm
Kernel/Output/HTML/Templates/Standard/AgentDashboardFAQOverview.tt
Kernel/Output/HTML/Templates/Standard/AgentFAQAdd.tt
Kernel/Output/HTML/Templates/Standard/AgentFAQCategory.tt
Kernel/Output/HTML/Templates/Standard/AgentFAQDelete.tt
Kernel/Output/HTML/Templates/Standard/AgentFAQEdit.tt
Kernel/Output/HTML/Templates/Standard/AgentFAQExplorer.tt
Kernel/Output/HTML/Templates/Standard/AgentFAQHistory.tt
Kernel/Output/HTML/Templates/Standard/AgentFAQJournalOverviewSmall.tt
Kernel/Output/HTML/Templates/Standard/AgentFAQLanguage.tt
Kernel/Output/HTML/Templates/Standard/AgentFAQLanguage.tt.save
Kernel/Output/HTML/Templates/Standard/AgentFAQOverviewNavBar.tt
Kernel/Output/HTML/Templates/Standard/AgentFAQOverviewSmall.tt
Kernel/Output/HTML/Templates/Standard/AgentFAQRelatedArticles.tt
Kernel/Output/HTML/Templates/Standard/AgentFAQSearch.tt
Kernel/Output/HTML/Templates/Standard/AgentFAQSearchOpenSearchDescriptionFAQNumber.tt
Kernel/Output/HTML/Templates/Standard/AgentFAQSearchOpenSearchDescriptionFulltext.tt
Kernel/Output/HTML/Templates/Standard/AgentFAQSearchSmall.tt
Kernel/Output/HTML/Templates/Standard/AgentFAQZoom.tt
Kernel/Output/HTML/Templates/Standard/AgentFAQZoomSmall.tt
Kernel/Output/HTML/Templates/Standard/CustomerFAQExplorer.tt
Kernel/Output/HTML/Templates/Standard/CustomerFAQRelatedArticles.tt
Kernel/Output/HTML/Templates/Standard/CustomerFAQSearch.tt
Kernel/Output/HTML/Templates/Standard/CustomerFAQSearchOpenSearchDescriptionFAQNumber.tt
Kernel/Output/HTML/Templates/Standard/CustomerFAQSearchOpenSearchDescriptionFullText.tt
Kernel/Output/HTML/Templates/Standard/CustomerFAQSearchResultShort.tt
Kernel/Output/HTML/Templates/Standard/CustomerFAQZoom.tt
Kernel/Output/HTML/Templates/Standard/PublicFAQExplorer.tt
Kernel/Output/HTML/Templates/Standard/PublicFAQSearch.tt
Kernel/Output/HTML/Templates/Standard/PublicFAQSearchOpenSearchDescriptionFAQNumber.tt
Kernel/Output/HTML/Templates/Standard/PublicFAQSearchOpenSearchDescriptionFullText.tt
Kernel/Output/HTML/Templates/Standard/PublicFAQSearchResultShort.tt
Kernel/Output/HTML/Templates/Standard/PublicFAQZoom.tt
Kernel/System/Console/Command/Admin/FAQ/
Kernel/System/Console/Command/Maint/FAQ/
Kernel/System/DynamicField/ObjectType/FAQ.pm
Kernel/System/FAQ.pm
Kernel/System/FAQ/
Kernel/System/FAQSearch.pm
Kernel/System/LinkObject/FAQ.pm
Kernel/System/Stats/Static/FAQAccess.pm
Kernel/cpan-lib/XML/RSS/
bin/cgi-bin/faq.pl
bin/fcgi-bin/faq.fpl
doc/en/
doc/faq-database.png
scripts/test/Console/Command/Admin/FAQ/
scripts/test/Console/Command/Maint/FAQ/
scripts/test/DynamicField/ObjectType/FAQ/
scripts/test/FAQ.t
scripts/test/FAQ/
scripts/test/FAQSearch.t
scripts/test/FAQSearch/
scripts/test/GenericInterface/FAQConnector.t
scripts/test/Selenium/Agent/AgentFAQAdd.t
scripts/test/Selenium/Agent/AgentFAQCategory.t
scripts/test/Selenium/Agent/AgentFAQDelete.t
scripts/test/Selenium/Agent/AgentFAQEdit.t
scripts/test/Selenium/Agent/AgentFAQExplorer.t
scripts/test/Selenium/Agent/AgentFAQHistory.t
scripts/test/Selenium/Agent/AgentFAQJournal.t
scripts/test/Selenium/Agent/AgentFAQLanguage.t
scripts/test/Selenium/Agent/AgentFAQLinkObject.t
scripts/test/Selenium/Agent/AgentFAQPrint.t
scripts/test/Selenium/Agent/AgentFAQSearch.t
scripts/test/Selenium/Agent/AgentFAQZoom.t
scripts/test/Selenium/Agent/FAQ/
scripts/test/Selenium/Customer/CustomerFAQExplorer.t
scripts/test/Selenium/Customer/CustomerFAQPrint.t
scripts/test/Selenium/Customer/CustomerFAQSearch.t
scripts/test/Selenium/Customer/CustomerFAQZoom.t
scripts/test/Selenium/Customer/FAQ/
scripts/test/Selenium/Output/Dashboard/FAQ.t
scripts/test/Selenium/Output/FAQJournalOverview/
scripts/test/Selenium/Output/FAQMenu/
scripts/test/Selenium/Output/FAQOverview/
scripts/test/Selenium/Output/HeaderMeta/
scripts/test/Selenium/Output/LinkObject/
scripts/test/Selenium/Public/
scripts/test/sample/FAQ-Test1.doc
scripts/test/sample/FAQ-Test1.pdf
scripts/test/sample/FAQ.csv
scripts/test/sample/GenericInterface/
scripts/webservices/
var/httpd/htdocs/js/FAQ.Agent.ConfirmationDialog.js
var/httpd/htdocs/js/FAQ.Agent.FAQ.js
var/httpd/htdocs/js/FAQ.Agent.FAQZoom.js
var/httpd/htdocs/js/FAQ.Agent.RelatedArticles.js
var/httpd/htdocs/js/FAQ.Agent.TicketCompose.js
var/httpd/htdocs/js/FAQ.Customer.FAQZoom.js
var/httpd/htdocs/skins/Agent/default/css/FAQ.Agent.Default.css
var/httpd/htdocs/skins/Agent/default/css/FAQ.Agent.Detail.css
var/httpd/htdocs/skins/Agent/default/img/help-small.png
var/httpd/htdocs/skins/Customer/default/css/FAQ.Customer.Default.css
var/httpd/htdocs/skins/Customer/default/css/FAQ.Customer.Detail.css
var/httpd/htdocs/skins/Customer/default/css/FAQ.FAQZoom.css
var/httpd/htdocs/skins/Customer/default/css/FAQ.RelatedArticles.css
var/httpd/htdocs/skins/Customer/default/css/FAQ.Widget.css
var/packagesetup/
var/stats/FAQ-FAQAccess.xml
