.project
.sublimelinterrc
.externalToolBuilders
.gnupg
.settings
.includepath
.DS_Store
*.swp
*.swo
*~
.profile
.vstags
.vscode

# Znuny
.procmailrc
/ARCHIVE
Kernel/Config/Backups/
Kernel/Config/Files/ZZZ*.pm
Kernel/Config/Files/User/*
Kernel/Config/GenericAgent.pm
Kernel/Config.pm
Kernel/Language/*.old
bin/cgi-bin/.htaccess
scripts/apache2-perl-startup2.pl
var/virtualfs
var/run
var/log/*.log
var/log/Daemon/*.log
var/OPM
var/Stats
var/tmp/*
var/httpd/htdocs/SeleniumScreenshots/
var/httpd/htdocs/js/thirdparty/jslint
var/httpd/htdocs/js/js-cache
var/httpd/htdocs/skins/*/*/css-cache
var/sessions/Data*
var/sessions/State*
var/article/*
var/cron/*
!var/cron/*.dist
.cache
.ssh
.viminfo
.bash*

# Fred
Fred.sopm
CHANGES-Fred
doc/en/Fred.xml
doc/en/Fred.pdf
Kernel/Output/HTML/FilterContent/Fred.pm
Kernel/Output/HTML/Fred/*
Kernel/Output/HTML/Templates/Standard/DevelFred*
Kernel/Config/Files/AAAFred.pm
Kernel/Config/Files/Fred.xml
Kernel/Config/Files/XML/Fred.xml
Kernel/Modules/DevelFred.pm
Kernel/System/Fred
var/fred
var/httpd/htdocs/js/*Fred*js
var/httpd/htdocs/skins/Agent/default/css/*Fred*css
var/httpd/htdocs/skins/Customer/default/css/*Fred*css

# NYTProf
nytprof*.out

# ITSM
var/stats/*.xml.installed
