# --
# Copyright (C) 2021 Znuny GmbH, https://znuny.org/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --

<div class="CopyTicketMenu">
    <div class="CopyOption" data-action="copy-number" data-number="{{ TicketNumber }}">
        {{ 'Copy Ticket Number' | Translate }}
    </div>
    <div class="CopyOption" data-action="copy-number-title" data-number="{{ TicketNumber }}" data-title="{{ TicketTitle }}">
        {{ 'Copy Ticket Number + Title' | Translate }}
    </div>
</div>
