# --
# Copyright (C) 2001-2021 OTRS AG, https://otrs.com/
# Copyright (C) 2021 Znuny GmbH, https://znuny.org/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (GPL). If you
# did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
# --

[% RenderBlockStart("TicketEscalationFirstResponseTimeOver") %]
    [% Translate("Ticket %s: first response time is over (%s %s)!", Data.TicketNumber, Data.FirstResponseTimeHuman, Localize(Data.FirstResponseTimeDestinationDate, "TimeShort")) | html %]

[% RenderBlockEnd("TicketEscalationFirstResponseTimeOver") %]

[% RenderBlockStart("TicketEscalationFirstResponseTimeWillBeOver") %]
    [% Translate("Ticket %s: first response time will be over in %s %s!", Data.TicketNumber, Data.FirstResponseTimeHuman, Localize(Data.FirstResponseTimeDestinationDate, "TimeShort")) | html %]
[% RenderBlockEnd("TicketEscalationFirstResponseTimeWillBeOver") %]

[% RenderBlockStart("TicketEscalationUpdateTimeOver") %]
    [% Translate("Ticket %s: update time is over (%s %s)!", Data.TicketNumber, Data.UpdateTimeHuman, Localize(Data.UpdateTimeDestinationDate, "TimeShort")) | html %]
[% RenderBlockEnd("TicketEscalationUpdateTimeOver") %]

[% RenderBlockStart("TicketEscalationUpdateTimeWillBeOver") %]
    [% Translate("Ticket %s: update time will be over in %s %s!", Data.TicketNumber, Data.UpdateTimeHuman, Localize(Data.UpdateTimeDestinationDate, "TimeShort")) | html %]
[% RenderBlockEnd("TicketEscalationUpdateTimeWillBeOver") %]

[% RenderBlockStart("TicketEscalationSolutionTimeOver") %]
    [% Translate("Ticket %s: solution time is over (%s %s)!", Data.TicketNumber, Data.SolutionTimeHuman, Localize(Data.SolutionTimeDestinationDate, "TimeShort")) | html %]
[% RenderBlockEnd("TicketEscalationSolutionTimeOver") %]

[% RenderBlockStart("TicketEscalationSolutionTimeWillBeOver") %]
    [% Translate("Ticket %s: solution time will be over in %s %s!", Data.TicketNumber, Data.SolutionTimeHuman, Localize(Data.SolutionTimeDestinationDate, "TimeShort")) | html %]
[% RenderBlockEnd("TicketEscalationSolutionTimeWillBeOver") %]
