# --
# Copyright (C) 2021 Znuny GmbH, https://znuny.org/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --

[% RenderBlockStart("Properties") %]
[% TicketFrontendConfig = Config("Ticket::Frontend::" _ Env("Action") ) %]

<div class="layoutPopUpSidebar">
    <main class="sectionContent">
        <div class="container-fluid ARIARoleMain" role="main">
            <div class="row">
                <div class="col-xs-12 order-1">
                    <div class="mod modForm" >
                        <div class="inner">
                            <form action="[% Env("CGIHandle") %]" method="post" enctype="multipart/form-data" name="compose" id="Compose" class="Validate PreventMultipleSubmits">
                                <input type="hidden" name="Action" value="[% Env("Action") %]"/>
                                <input type="hidden" name="Subaction" value="Store"/>
                                <input type="hidden" name="TicketID" value="[% Data.TicketID | html %]"/>
                                <input type="hidden" name="ArticleID" value="[% Data.ArticleID | html %]"/>
                                <input type="hidden" name="ReplyToArticle" value="[% Data.ReplyToArticle | html %]"/>
                                <input type="hidden" name="Expand" id="Expand" value=""/>
                                <input type="hidden" name="FormID" value="[% Data.FormID | html %]"/>
                                <input type="hidden" name="FormDraftTitle" value="[% Data.FormDraftTitle | html %]"/>
                                <input type="hidden" name="FormDraftID" value="[% Data.FormDraftID | html %]"/>
                                <input type="hidden" name="FormDraftAction" id="FormDraftAction" />

[% RenderBlockStart("PropertiesLockNotify") %]
                                    [% INCLUDE "Modules/Alert.tt"
                                        Data = {
                                            message   = Translate("The ticket has been locked") _ ".",
                                            type      = "warning",
                                            hideAfter = 10,
                                            actions   = "[
                                                {
                                                    \"url\": \"" _ Env("Baselink") _ "Action=AgentTicketLock;Subaction=Unlock;TicketID=" _ Data.TicketID _ "" _
                                                    (Data.PreviousOwner ? ";PreviousOwner=" _ Data.PreviousOwner : "") _ ";" _ Env("ChallengeTokenParam") _ "\",
                                                    \"text\": \"" _ Translate("Unlock and close popup") _ "\",
                                                    \"class\": \"UndoClosePopup\",
                                                    \"type\": \"cancel\"
                                                }
                                            ]"
                                        }
                                    %]
[% RenderBlockEnd("PropertiesLockNotify") %]

[% RenderBlockStart("WidgetTicketActions") %]
                                <div class="row">
                                    <div class="col-12">
                                        [% INCLUDE "FormElements/DraftNotifications.tt" %]
                                    </div>

[% IF TicketFrontendConfig.CustomerUser %]
                                    <div class="cardCustomerData col-12">
                                        <div class="mod modCard">
                                            <div class="inner">
                                                <div class="cardTitle">
                                                    <h2>[% Translate("Customer") | html %]</h2>
                                                    <span class="cardTitleTrigger"></span>
                                                </div>
                                                <div class="cardContent">
                                                    <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-2  gy-2">
[% RenderBlockStart("CustomerUser") %]
                                                        <div class="col-12">
                                                            <input type="hidden" name="SelectedCustomerUser" id="SelectedCustomerUser" value="[% Data.SelectedCustomerUser | html %]" />
                                                            [% IF Data.CustomerUserMandatory %]
                                                            <label for="CustomerAutoComplete" class="Mandatory">
                                                                <span class="Marker">*</span>
                                                                [% Translate("Customer user") | html %]:
                                                            </label>
                                                            [% ELSE %]
                                                            <label for="CustomerAutoComplete">
                                                                [% Translate("Customer user") | html %]:
                                                            </label>
                                                            [% END %]
                                                            <div class="Field">
                                                                <input id="CustomerAutoComplete" type="text" name="CustomerUserID" value="[% Data.CustomerUserID | html %]" class="W75pc[% IF Data.CustomerUserMandatory %] Validate_Required[% END %] [% Data.CustomerUserIDInvalid | html %]" autocomplete="off" />
                                                                [% IF Data.CustomerUserMandatory %]
                                                                <div id="CustomerAutoCompleteError" class="TooltipErrorMessage">
                                                                    <p>[% Translate("This field is required.") | html %]</p>
                                                                </div>
                                                                <div id="CustomerAutoCompleteServerError" class="TooltipErrorMessage">
                                                                    <p>[% Translate("This field is required.") | html %]</p>
                                                                </div>
                                                                [% END %]
                                                            </div>
                                                        </div>
[% RenderBlockEnd("CustomerUser") %]
[% RenderBlockStart("CustomerID") %]
                                                        <div class="col-12">
                                                            [% INCLUDE "CustomerCompany/TicketCustomerIDSelection.tt" Required = 0 Readonly = TicketFrontendConfig.CustomerIDReadOnly %]
                                                        </div>
[% RenderBlockEnd("CustomerID") %]
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
[% END %]

<!-- add SLA -->
[% IF Config('Ticket::Service') && TicketFrontendConfig.Service %]
                                    <div class="cardServiceData col-12">
                                        <div class="mod modCard">
                                            <div class="inner">
                                                <div class="cardTitle">
                                                    <h2>[% Translate("Services") | html %]</h2>
                                                    <span class="cardTitleTrigger"></span>
                                                </div>
                                                <div class="cardContent">
                                                    <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-2 gy-3">
[% RenderBlockStart("Service") %]
                                                        <div class="col-12">
                                                            [% IF Data.ServiceMandatory %]
                                                            <label class="Mandatory" for="ServiceID">
                                                                <span class="Marker">*</span>
                                                                [% Translate("Service") | html %]:
                                                            </label>
                                                            [% ELSE %]
                                                            <label for="ServiceID">
                                                                [% Translate("Service") | html %]:
                                                            </label>
                                                            [% END %]
                                                            <div class="Field">
                                                                [% Data.ServiceStrg %]
                                                                [% IF Data.ServiceMandatory %]
                                                                <div id="ServiceIDError" class="TooltipErrorMessage" >
                                                                    <p>[% Translate("This field is required.") | html %]</p>
                                                                </div>
                                                                [% END %]
                                                                <div id="ServiceIDServerError" class="TooltipErrorMessage">
                                                                    <p>[% Translate("Service invalid.") | html %]</p>
                                                                </div>
                                                            </div>
                                                        </div>
[% RenderBlockEnd("Service") %]
[% RenderBlockStart("SLA") %]
                                                        <div class="col-12">
                                                            [% IF Data.SLAMandatory %]
                                                            <label class="Mandatory" for="SLAID">
                                                                <span class="Marker">*</span>
                                                                [% Translate("Service Level Agreement") | html %]:
                                                            </label>
                                                            [% ELSE %]
                                                            <label for="SLAID">
                                                                [% Translate("Service Level Agreement") | html %]:
                                                            </label>
                                                            [% END %]
                                                            <div class="Field">
                                                                [% Data.SLAStrg %]
                                                                [% IF Data.SLAMandatory %]
                                                                <div id="SLAIDError" class="TooltipErrorMessage" >
                                                                    <p>[% Translate("This field is required.") | html %]</p>
                                                                </div>
                                                                <div id="SLAIDServerError" class="TooltipErrorMessage">
                                                                    <p>[% Translate("This field is required.") | html %]</p>
                                                                </div>
                                                                [% END %]
                                                            </div>
                                                        </div>
[% RenderBlockEnd("SLA") %]
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
[% END %]

[% IF TicketFrontendConfig.Queue || TicketFrontendConfig.Owner || TicketFrontendConfig.Responsible %]
                                    <div class="cardTeamData col-12">
                                        <div class="mod modCard">
                                            <div class="inner">
                                                <div class="cardTitle">
                                                    <h2>[% Translate("Team Data") | html %]</h2>
                                                    <span class="cardTitleTrigger"></span>
                                                </div>
                                                <div class="cardContent">
                                                    <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 gy-3">
[% RenderBlockStart("Queue") %]
                                                        <div class="col-12">
                                                            [% IF Data.QueueMandatory %]
                                                            <label class="Mandatory" for="NewQueueID">
                                                                <span class="Marker">*</span>
                                                                [% Translate("Queue") | html %]:
                                                            </label>
                                                            [% ELSE %]
                                                            <label for="NewQueueID">
                                                                [% Translate("Queue") | html %]:
                                                            </label>
                                                            [% END %]
                                                            <div class="Field">
                                                                [% Data.QueuesStrg %]
                                                                [% IF Data.QueueMandatory %]
                                                                <div id="NewQueueIDError" class="TooltipErrorMessage">
                                                                    <p>[% Translate("This field is required.") | html %]</p>
                                                                </div>
                                                                [% END %]
                                                                <div id="NewQueueIDServerError" class="TooltipErrorMessage">
                                                                    <p>[% Translate("Queue invalid.") | html %]</p>
                                                                </div>
                                                            </div>
                                                        </div>
[% RenderBlockEnd("Queue") %]
[% RenderBlockStart("Owner") %]
                                                        <div class="col-12">
                                                            [% IF Data.OwnerMandatory %]
                                                            <label class="Mandatory" for="NewOwnerID">
                                                                <span class="Marker">*</span>
                                                                [% Translate("Owner") | html %]:
                                                            </label>
                                                            [% ELSE %]
                                                            <label for="NewOwnerID">
                                                                [% Translate("Owner") | html %]:
                                                            </label>
                                                            [% END %]
                                                            <div class="Field">
                                                                [% Data.OwnerStrg %]
                                                                [% IF Data.OwnerMandatory %]
                                                                <div id="NewOwnerIDError" class="TooltipErrorMessage">
                                                                    <p>[% Translate("Please set a new owner!") | html %]</p>
                                                                </div>
                                                                [% END %]
                                                                <div id="NewOwnerIDServerError" class="TooltipErrorMessage">
                                                                    <p>[% Translate("Owner invalid.") | html %]</p>
                                                                </div>
                                                            </div>
                                                        </div>
[% RenderBlockEnd("Owner") %]
[% RenderBlockStart("Responsible") %]
                                                        <div class="col-12">
                                                            [% IF Data.ResponsibleMandatory %]
                                                            <label class="Mandatory" for="NewResponsibleID">
                                                                <span class="Marker">*</span>
                                                                [% Translate("Responsible") | html %]:
                                                            </label>
                                                            [% ELSE %]
                                                            <label for="NewResponsibleID">
                                                                [% Translate("Responsible") | html %]:
                                                            </label>
                                                            [% END %]
                                                            <div class="Field">
                                                                [% Data.ResponsibleStrg %]
                                                                [% IF Data.ResponsibleMandatory %]
                                                                <div id="NewResponsibleIDError" class="TooltipErrorMessage">
                                                                    <p>[% Translate("Please set a new responsible!") | html %]</p>
                                                                </div>
                                                                <div id="NewResponsibleIDServerError" class="TooltipErrorMessage">
                                                                    <p>[% Translate("Responsible invalid.") | html %]</p>
                                                                </div>
                                                                [% END %]
                                                            </div>
                                                        </div>
[% RenderBlockEnd("Responsible") %]
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
[% END %]

<!-- TicketType is missing -->
[% IF TicketFrontendConfig.Title || TicketFrontendConfig.TicketType || TicketFrontendConfig.State || TicketFrontendConfig.Priority %]

                                    <div class="cardTicketData col-12">
                                        <div class="mod modCard">
                                            <div class="inner">
                                                <div class="cardTitle">
                                                    <h2>[% Translate("Ticket Data") | html %]</h2>
                                                    <span class="cardTitleTrigger"></span>
                                                </div>
                                                <div class="cardContent">
                                                    <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 gy-3">
[% RenderBlockStart("Title") %]
                                                        <div class="col-12">
                                                            <label class="Mandatory" for="Title">
                                                                <span class="Marker">*</span>
                                                                [% Translate("Title") | html %]:
                                                            </label>
                                                            <div class="Field">
                                                                <input type="text" id="Title" name="Title" value="[% Data.Title | html %]" class="W75pc Validate_Required [% Data.TitleInvalid | html %]" />
                                                                <div id="TitleError" class="TooltipErrorMessage">
                                                                    <p>[% Translate("This field is required.") | html %]</p>
                                                                </div>
                                                                <div id="TitleServerError" class="TooltipErrorMessage">
                                                                    <p>[% Translate("This field is required.") | html %]</p>
                                                                </div>
                                                            </div>
                                                        </div>
[% RenderBlockEnd("Title") %]
[% RenderBlockStart("Type") %]
                                                        <div class="col-12">
                                                            [% IF Data.TypeMandatory %]
                                                            <label class="Mandatory" for="TypeID">
                                                                <span class="Marker">*</span>[% Translate("Type") | html %]:
                                                            </label>
                                                            [% ELSE %]
                                                            <label for="TypeID">
                                                                [% Translate("Type") | html %]:
                                                            </label>
                                                            [% END %]
                                                            <div class="Field">
                                                                [% Data.TypeStrg %]
                                                                [% IF Data.TypeMandatory %]
                                                                <div id="TypeIDError" class="TooltipErrorMessage">
                                                                    <p>[% Translate("This field is required.") | html %]</p>
                                                                </div>
                                                                <div id="TypeIDServerError" class="TooltipErrorMessage">
                                                                    <p>[% Translate("This field is required.") | html %]</p>
                                                                </div>
                                                                [% END %]
                                                            </div>
                                                        </div>
[% RenderBlockEnd("Type") %]
[% RenderBlockStart("State") %]
                                                        <div class="col-12">
                                                            [% IF Data.StateMandatory %]
                                                            <label class="Mandatory" for="NewStateID">
                                                                <span class="Marker">*</span>
                                                                [% Translate("State") | html %]:
                                                            </label>
                                                            [% ELSE %]
                                                            <label for="NewStateID">
                                                                [% Translate("State") | html %]:
                                                            </label>
                                                            [% END %]
                                                            <div class="Field">
                                                                [% Data.StateStrg %]
                                                                [% IF Data.StateMandatory %]
                                                                <div id="NewStateIDError" class="TooltipErrorMessage">
                                                                    <p>[% Translate("This field is required.") | html %]</p>
                                                                </div>
                                                                <div id="NewStateIDServerError" class="TooltipErrorMessage">
                                                                    <p>[% Translate("State invalid.") | html %]</p>
                                                                </div>
                                                                [% END %]
                                                            </div>
                                                        </div>
[% RenderBlockEnd("State") %]
[% RenderBlockStart("StatePending") %]
                                                        <div class="col-12">
                                                            <label>
                                                                [% Translate("Pending date") | html %]:
                                                            </label>
                                                            <div class="Field">
                                                                <div class="select-field-wrapper">[% Data.DateString %]</div>
                                                                <div id="DayServerError" class="TooltipErrorMessage">
                                                                    <p>[% Translate("Date invalid!") | html %]</p>
                                                                </div>
                                                                <div id="HourServerError" class="TooltipErrorMessage">
                                                                    <p>[% Translate("Date invalid!") | html %]</p>
                                                                </div>
                                                                <p class="FieldExplanation">[% Translate("For all pending* states.") | html %]</p>
                                                            </div>
                                                        </div>
[% RenderBlockEnd("StatePending") %]
[% RenderBlockStart("Priority") %]
                                                        <div class="col-12">
                                                            [% IF Data.PriorityMandatory %]
                                                            <label class="Mandatory" for="NewPriorityID">
                                                                <span class="Marker">*</span>
                                                                [% Translate("Priority") | html %]:
                                                            </label>
                                                            [% ELSE %]
                                                            <label for="NewPriorityID">
                                                                [% Translate("Priority") | html %]:
                                                            </label>
                                                            [% END %]
                                                            <div class="Field">
                                                                [% Data.PriorityStrg %]
                                                            </div>
                                                        </div>
[% RenderBlockEnd("Priority") %]
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
[% END %]
[% IF !TicketFrontendConfig.DynamicField.empty %]
[% RenderBlockStart("TicketTypeDynamicFields") %]
                                    <div class="cardDynamicField col-12">
                                        <div class="mod modCard">
                                            <div class="inner">
                                                <div class="cardTitle">
                                                    <h2>[% Translate("Dynamic Fields") | html %]</h2>
                                                    <span class="cardTitleTrigger"></span>
                                                </div>
                                                <div class="cardContent">
                                                    <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 gy-3">
[% RenderBlockStart("TicketTypeDynamicField") %]
                                                        <div class="Row Row_DynamicField_[% Data.Name | html %] dynamicField dynamicField[% Data.Name | html %]">
                                                            <div class="col-12">
                                                                <div class="mod modDynamicField">
                                                                    <div class="inner">
                                                                        <div class="dynamicFieldLabel">
                                                                            [% Data.Label %]
                                                                        </div>
                                                                        <div class="dynamicFieldForm">
                                                                            [% Data.Field %]
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
[% RenderBlockEnd("TicketTypeDynamicField") %]
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
[% RenderBlockEnd("TicketTypeDynamicFields") %]
[% END %]
[% RenderBlockEnd("WidgetTicketActions") %]

[% RenderBlockStart("WidgetArticle") %]
                                    <div class="cardCommunication col-12">
                                        <div class="mod modCard">
                                            <div id="WidgetArticle" class="inner [% Data.CardStatus | html %]">
                                                <div class="cardTitle">
                                                    <h2>[% Translate("Communications") | html %]</h2>
                                                    <span class="cardTitleTrigger"></span>
                                                </div>
                                                <div class="cardContent">
[% RenderBlockStart("InformAgentsWithoutSelection") %]
                                                    <h2 class="card-title">[% Translate("Inform") | html %]</h2>
                                                    <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-2 gy-3">
                                                        <div class="col-12">
                                                            <label>
                                                                [% Translate("Text will also be received by") | html %]:
                                                            </label>
                                                            <div class="Field">
                                                                <input type="hidden" name="UserListWithoutSelection" value="[% Data.UserListWithoutSelection  | html %]" />
[% RenderBlockStart("InformAgentsWithoutSelectionSingleUser") %]
                                                                <span title="[% Data.UserEmail | html %]">[% Data.UserFullname | html %]</span>
[% RenderBlockStart("InformAgentsWithoutSelectionSingleUserSeparator") %]
                                                                ,
[% RenderBlockEnd("InformAgentsWithoutSelectionSingleUserSeparator") %]
[% RenderBlockEnd("InformAgentsWithoutSelectionSingleUser") %]
                                                            </div>
                                                        </div>
                                                    </div>
[% RenderBlockEnd("InformAgentsWithoutSelection") %]

                                                    <h2 class="card-title">[% Translate("Notes") | html %]</h2>
                                                    <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-2 gy-3">

                                                        [% IF Data.CardStatus != 'Collapsed' %]
                                                        <input type="hidden" id="CreateArticle" name="CreateArticle" value="1" />
                                                        [% ELSE %]
                                                        <div class="col-12">
                                                            <div class="Field CheckboxContainer">
                                                                <input type="checkbox" id="CreateArticle" name="CreateArticle" value="1" [% IF Data.CreateArticle %] checked="checked"[% END %] />
                                                                <label for="CreateArticle">
                                                                    [% Translate("Create an Article") | html %]
                                                                </label>
                                                            </div>
                                                        </div>
                                                        [% END %]

[% RenderBlockStart("LinkList") %]
                                                        <div class="col-12">
                                                            <label class="Mandatory" for="LinkList">
                                                                <span class="Marker">*</span>
                                                                [% Translate("Note to linked Ticket") | html %]:
                                                            </label>
                                                            <div class="Field">
                                                                [% Data.LinkListStrg %]
                                                                <div id="LinkListIDError" class="TooltipErrorMessage">
                                                                    <p>[% Translate("This field is required.") | html %]</p>
                                                                </div>
                                                                <div id="LinkListIDServerError" class="TooltipErrorMessage">
                                                                    <p>[% Translate("LinkList invalid.") | html %]</p>
                                                                </div>
                                                            </div>
                                                        </div>
[% RenderBlockEnd("LinkList") %]
[% RenderBlockStart("NoteToTicket") %]
                                                        <div class="col-12">
                                                            <label class="Mandatory" for="NoteToTicket"><span class="Marker">*</span>[% Translate("Note to origin Ticket") | html %]:</label>
                                                            <div class="Field">
                                                                [% Data.NoteToTicketStrg %]
                                                                <div id="NoteToTicketIDError" class="TooltipErrorMessage">
                                                                    <p>[% Translate("This field is required.") | html %]</p>
                                                                </div>
                                                                <div id="NoteToTicketIDServerError" class="TooltipErrorMessage">
                                                                    <p>[% Translate("NoteToTicket invalid.") | html %]</p>
                                                                </div>
                                                            </div>
                                                        </div>
[% RenderBlockEnd("NoteToTicket") %]
                                                    </div>
                                                    <div class="row gy-3">
                                                        <h2 class="card-title">[% Translate("Create an Article") | html %]</h2>

                                                        <div class="col-12">
[% RenderBlockStart("SubjectLabel") %]
                                                            <label for="Subject">
                                                                [% Translate("Subject") | html %]:
                                                            </label>
[% RenderBlockEnd("SubjectLabel") %]
[% RenderBlockStart("SubjectLabelMandatory") %]
                                                            <label class="Mandatory" for="Subject">
                                                                <span class="Marker">*</span>
                                                                [% Translate("Subject") | html %]:
                                                            </label>
[% RenderBlockEnd("SubjectLabelMandatory") %]
                                                            <div class="Field">
                                                                <input type="text" id="Subject" name="Subject" value="[% Data.Subject | html %]" class="W75pc Validate [% Data.SubjectInvalid %] [% Data.SubjectRequired %]"/>

                                                                <div id="SubjectError" class="TooltipErrorMessage">
                                                                    <p>[% Translate("This field is required.") | html %]</p>
                                                                </div>

                                                                <div id="SubjectServerError" class="TooltipErrorMessage">
                                                                    <p>[% Translate("This field is required.") | html %]</p>
                                                                </div>
                                                            </div>
                                                        </div>
[% RenderBlockStart("TicketOptions") %]
<!-- TODO: Needed? -->
                                                        <div class="col-12">
                                                            <div class="ticket-form-options">
                                                                <label>[% Translate("Options") | html %]:</label>
                                                                <div class="Field">

                                                                    <!-- OutputFilterHook_TicketOptionsBegin -->
                                                                    [% RenderBlockStart("OptionCustomer") %]
                                                                    <a href="#" id="OptionCustomer">[% Translate("Customer user") | html %]</a>
                                                                    [% RenderBlockEnd("OptionCustomer") %]
                                                                    <!-- OutputFilterHook_TicketOptionsEnd -->
                                                                </div>
                                                            </div>
                                                        </div>
[% RenderBlockEnd("TicketOptions") %]
                                                        <!-- OutputFilterHook_NoTicketOptionsFallback -->
[% RenderBlockStart("StandardTemplate") %]
                                                        <div class="col-12">
                                                            <label for="StandardTemplateID">
                                                                [% Translate("Text Template") | html %]:
                                                            </label>
                                                            <div class="Field no-background">
                                                                [% Data.StandardTemplateStrg %]
                                                                <p class="FieldExplanation">[% Translate("Setting a template will overwrite any text or attachment.") | html %]</p>
                                                            </div>
                                                        </div>
[% RenderBlockEnd("StandardTemplate") %]
                                                        <div class="col-12">
[% RenderBlockStart("RichTextLabel") %]
                                                            <label for="RichText">
                                                                [% Translate("Text") | html %]:
                                                            </label>
[% RenderBlockEnd("RichTextLabel") %]
[% RenderBlockStart("RichTextLabelMandatory") %]
                                                            <label class="Mandatory" for="RichText">
                                                                <span class="Marker">*</span>
                                                                [% Translate("Text") | html %]:
                                                            </label>
[% RenderBlockEnd("RichTextLabelMandatory") %]
                                                            <div id="RichTextField" class="RichTextField">
                                                                <textarea id="RichText" class="RichText Validate [% Data.BodyInvalid %] [% Data.BodyRequired %]" name="Body" rows="15" cols="[% Config("Ticket::Frontend::TextAreaNote") %]">[% Data.Body | html %]</textarea>
                                                                <div id="RichTextError" class="TooltipErrorMessage">
                                                                    <p>[% Translate("This field is required.") | html %]</p>
                                                                </div>
                                                                <div id="RichTextServerError" class="TooltipErrorMessage">
                                                                    <p>[% Translate("This field is required.") | html %]</p>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-12">
                                                            <div class="mod modAttachments">
                                                                <div class=inner">
                                                                    <label>[% Translate("Attachments") | html %]:</label>
                                                                    <div class="Field component-attachment">
                                                                        [% INCLUDE "FormElements/AttachmentList.tt" %]
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-2 gy-3">
                                                            <div class="col-12">
                                                                <div class="Field no-background CheckboxContainer">
                                                                    <input type="checkbox" name="IsVisibleForCustomer" id="IsVisibleForCustomer"
                                                                        [% IF Data.IsVisibleForCustomer %]checked="checked" [% END %]/>
                                                                    <label for="IsVisibleForCustomer">
                                                                        [% Translate("Is visible for customer") | html %]:
                                                                    </label>
                                                                </div>
                                                            </div>
    [% RenderBlockStart("TimeUnits") %]
                                                            <div class="col-12">
                                                                [% Data.TimeUnitsBlock %]
                                                            </div>
    [% RenderBlockEnd("TimeUnits") %]
                                                        </div>

                                                        <div class="cardArticleDynamicField col-12">
                                                            <div class="mod modCard">
                                                                <div class="inner">
                                                                    <div class="cardTitle">
                                                                        <h2>[% Translate("Article") | html %] [% Translate("Dynamic Fields") | html %]</h2>
                                                                        <span class="cardTitleTrigger"></span>
                                                                    </div>
                                                                    <div class="cardContent">
                                                                        <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 gy-3">
[% RenderBlockStart("ArticleTypeDynamicField") %]
                                                                            <div class="Row Row_DynamicField_[% Data.Name | html %] dynamicField dynamicField[% Data.Name | html %]">
                                                                                <div class="col-12">
                                                                                    <div class="mod modDynamicField">
                                                                                        <div class="inner">
                                                                                            <div class="dynamicFieldLabel">
                                                                                                [% Data.Label %]
                                                                                            </div>
                                                                                            <div class="dynamicFieldForm">
                                                                                                [% Data.Field %]
[% RenderBlockStart("ArticleTypeDynamicFieldError") %]
                                                                                                <div id="DynamicField_[% Data.Name %]Error" class="TooltipErrorMessage">
                                                                                                    <p>[% Translate("This field is required.") | html %]</p>
                                                                                                </div>
[% RenderBlockEnd("ArticleTypeDynamicFieldError") %]
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
[% RenderBlockEnd("ArticleTypeDynamicField") %]
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
[% RenderBlockEnd("WidgetArticle") %]
                                <div class="row">
                                    <div class="col-12">
                                        <div class="col-12">
                                            <div class="mod modFormSubmitArea">
                                                <div class="inner">
                                                    <div class="formSubmitArea">
                                                        <div class="formSubmitAreaCancel">
[% RenderBlockStart("TicketBack") %]
                                                            <a class="CancelClosePopup btn-cancel-ghost btn-main btn-width-md" href="#">[% Translate("Undo & close") | html %]</a>
[% RenderBlockEnd("TicketBack") %]
[% RenderBlockStart("PropertiesLock") %]
                                                            <div class="ticket-locked">
                                                                <a class="UndoClosePopup btn-cancel-ghost btn-main btn-width-md" href="[% Env("Baselink") %]Action=AgentTicketLock;Subaction=Unlock;TicketID=[% Data.TicketID %][% IF Data.PreviousOwner %];PreviousOwner=[% Data.PreviousOwner %][% END %];[% Env("ChallengeTokenParam") | html %]">
                                                                    [% Translate("Unlock and close popup") | html %]
                                                                </a>
                                                            </div>
[% RenderBlockEnd("PropertiesLock") %]
                                                        </div>
                                                        <div class="formSubmitAreaSubmit">
                                                            [% INCLUDE "FormElements/DraftButtons.tt" %]
                                                            <button class="CallForAction Primary btn-primary btn-main btn-width-md" id="submitRichText" accesskey="g" title="[% Translate("Submit") | html %] (g)" type="submit" value="[% Translate("Submit") | html %]">
                                                                <span>[% Translate("Submit") | html %]</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
[% RenderBlockEnd("Properties") %]
