<!--                                                                           -->
<!--        Znuny: Copyright (C) 2021-2022 Znuny GmbH, https://znuny.org/       -->
<!--        OTRS: Copyright (C) 2001-2021 OTRS AG, https://otrs.com/           -->
<!--    GNU General Public License: https://www.gnu.org/licenses/gpl-3.0.txt   -->
<!--                                                                           -->
## nofilter(TidyAll::Plugin::OTRS::Common::HeaderlineFilename)
## nofilter(TidyAll::Plugin::OTRS::Legal::LicenseValidator)
