# --
# Copyright (C) 2021 Znuny GmbH, https://znuny.org/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --
<div class="WidgetSimple">
    <div class="Header">
        <div class="WidgetAction Mentions Toggle">
            <a href="#" title="[% Translate("Show or hide the content") | html %]"><i class="fa fa-caret-right"></i><i class="fa fa-caret-down"></i></a>
        </div>
        <h2>[% Translate("Mentions") | html %]</h2>
    </div>
    <div class="Content">
        <ul>
[% RenderBlockStart("User") %]
            <li style="word-wrap: break-word;">-[% Data.UserFullname | html %]
                [% IF Data.Removable %]
                    <a href="#" data-user-id=[% Data.UserID | html %] class="MentionRow"><i class="fa fa-trash"></i></a>
                [% END %]
            </li>
[% RenderBlockEnd("User") %]
        </ul>
    </div>
</div>
