# --
# Copyright (C) 2021 Znuny GmbH, https://znuny.org/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --

<div class="mod modSidebarWidget">
    <div class="inner">
        <div class="sidebarWidgetTitle">
            <h3>[% Translate("Mentions") | html %]</h3>
        </div>
        <div class="sidebarWidgetContent">
            <div class="mod modMentions">
                <div class="inner">
                    <ul class="list">
                        [% RenderBlockStart("User") %]
                        <li>
                            [% IF Data.Removable %]
                            <span>
                                <a href="#" data-user-id=[% Data.UserID | html %] class="MentionRow Icon RemoveButton icon-hover">
                                    <i class="fa fa-times"></i>
                                </a>
                            </span>
                            [% END %]
                            <span>[% Data.UserFullname | html %]</span>
                        </li>
                        [% RenderBlockEnd("User") %]
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
