# --
# Copyright (C) 2021 Znuny GmbH, https://znuny.org/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --
<div class="WidgetSimple mentions-widget">
    <div class="Header">
        <div class="WidgetAction Mentions Toggle">
            <a href="#" title="[% Translate("Show or hide the content") | html %]"><i class="fa fa-caret-right"></i><i class="fa fa-caret-down"></i></a>
        </div>
        <h2>[% Translate("Mentions") | html %]</h2>
    </div>
    <div class="Content">
        <ul>
[% RenderBlockStart("User") %]
            <li>
                <span class="email-wrapper">
                    <span>[% Data.UserLogin | html %]</span>
                    <span>([% Data.UserEmail | html %])</span>
                </span>
                [% IF Data.Removable %]
                    <a href="#" data-user-id=[% Data.UserID | html %] class="MentionRow icon-hover-sm">
                        <i class="fa fa-times"></i>
                    </a>
                [% END %]
            </li>
[% RenderBlockEnd("User") %]
        </ul>
    </div>
</div>
