# --
# Copyright (C) 2001-2021 OTRS AG, https://otrs.com/
# Copyright (C) 2021 Znuny GmbH, https://znuny.org/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (GPL). If you
# did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
# --

<tr class="Uploading">
    <td class="Filename">{{ Filename }}</td>
    <td class="Filetype">{{ Filetype }}</td>
    <td class="Filesize">
        <span class="Progress"></span>
    </td>
# Temp. disabled preview because of security context
#    <td class="Preview OptionIcon">
#        <a href="#" class="Hidden AttachmentPreview icon-hover-sm" aria-label="{{ 'Click to preview this file.' | Translate }}" tabindex="0" data-file-id="{{ FileID }}" data-object-id="{{ ObjectID }}" data-field-id="{{ File.FieldID }}">
#            <i class="fa fa-search"></i>
#        </a>
#    </td>
    <td class="Download OptionIcon ">
        <a href="#" class="Hidden AttachmentDownload icon-hover-sm" aria-label="{{ 'Click to download this file.' | Translate }}" tabindex="0" data-file-id="{{ FileID }}" data-object-id="{{ ObjectID }}" data-field-id="{{ File.FieldID }}">
            <i class="fa fa-download"></i>
        </a>
    </td>
    <td class="Delete OptionIcon">
        <a href="#" class="Hidden AttachmentDelete icon-hover-sm" tabindex="0" aria-label="{{ 'Click to delete this attachment.' | Translate }}"><i class="fa fa-times"></i></a>
    </td>
</tr>
